*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;   /* 16px * 62.5% = 10px = 1rem */
}
body{
    height: 100vh;   /* 100% */
    font-size: 1.6rem;   /* 16 px */
    
}
.grid-container{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;  /*  one piece auto */
    grid-template-rows: 5rem 1fr 5rem;   /* 50px | 1fr = auto | 50px */
    height: 100%;
    
}
header{
    grid-area: header;
    background-color: #203040;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;   /* 5px */
}
header a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.brand a{
    font-size: 2.5rem;  /* 25px */
}